node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# local env files
.env*.local
.env
<CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/><CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/><CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/><CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/><CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/><CustomInput 
  label="E-posta"
  placeholder="E-posta adresinizi girin"
  value={email}
  onChangeText={setEmail}
  error={emailError}
  icon="mail" // opsiyonel ikon
  secure={false} // şifre alanları için
/>
# ide files
.idea/
.vscode/ 